<div data-ng-controller="VpsTabIpsCtrl" class="span12">
    <div class="row-fluid pull-left" data-ng-show="ipsLoading">
        <div class="span12 loader"></div>
    </div>
    <div data-ng-show="ips" class="row-fluid">
        <div class="span10">
            <div class="row-fluid">
                <div class="span5">
                    <div class="row-fluid">
                        <i class="icon-ip"></i>
                        <b class="lh24" style="font-size: 18px; color: #3D3D3D;" data-i18n-static="vps_tab_IPS_ipv4"></b>
                    </div>
                    <div class="row-fluid tspace">
                        <table class="leftspace table table_ips">
                            <tr data-ng-repeat="ipv4 in ips.ipsv4.results">
                                <td><i data-ng-show="ipv4.type == 'primary'" class="icon-selected-ip"></i></td>
                                <td>
                                    <input-selectable data-ng-value="ipv4.ipAddress" readonly></input-selectable>
                                    <i class="ip__country"
                                       data-ng-class="'icon-' + ipv4.geolocation.toUpperCase()"
                                       data-tooltip-placement="top"
                                       data-tooltip="{{tr('vps_tab_IPS_flag_tooltip_location_' + ipv4.geolocation.toUpperCase())}}"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="span7">
                    <div class="row-fluid">
                        <i class="icon-ip"></i>
                        <b class="lh24" style="font-size: 18px; color: #3D3D3D;" data-i18n-static="vps_tab_IPS_ipv6"></b>
                        <a class="guide-link"
                           data-ng-href="{{ ipv6GuideUrl }}"
                           title="{{::i18n.vps_configuration_ipV6_guide_link_text}} ({{::i18n.core_new_window}})"
                           target="_blank">
                            <span>
                                (<span data-i18n-static="vps_configuration_ipV6_guide_link_text"></span> <span class="fa fa-external-link"></span>)
                            </span>
                        </a>
                    </div>
                    <div class="row-fluid tspace">
                        <table class="leftspace table table_ips">
                            <tr data-ng-if="ips.ipsv6.results.length > 0" data-ng-repeat="ipv6 in ips.ipsv6.results">
                                <td><i data-ng-show="ipv6.type == 'primary'" class="icon-selected-ip"></i></td>
                                <td>
                                    <div class="control-group">
                                        <label for="input_tab_ipv6" class="control-label span3" data-i18n-static="vps_configuration_ipV6_address_label"></label>
                                        <div class="controls">
                                            <input-selectable id="input_tab_ipv6" data-ng-value="ipv6.ipAddress|expandIpv6" class="ip-v6-input" readonly></input-selectable>
                                            <i class="ip__country"
                                            data-ng-class="'icon-' + ipv6.geolocation.toUpperCase()"
                                            data-tooltip-placement="top"
                                            data-tooltip="{{tr('vps_tab_IPS_flag_tooltip_location_' + ipv6.geolocation.toUpperCase())}}"></i>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="input_tab_ipv6_gateway" class="control-label span3" data-i18n-static="vps_configuration_ipV6_gateway_label"></label>
                                        <div class="controls">
                                            <input-selectable id="input_tab_ipv6_gateway" data-ng-value="ipv6.gateway|expandIpv6" class="ip-v6-input" readonly></input-selectable>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr data-ng-if="ips.ipsv6.results.length === 0">
                                <td><span  data-i18n-static="vps_dashboard_ipv6_not_available"></span></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="span2">
            <a type="button"
                class="btn btn-block btn-action"
                href="#/configuration/ip?serviceName={{vps.name}}"
                data-ng-class="{'btn-large' : viewMode == 'simple'}">
                <i class="icon-add-ipv4"></i>
                <span data-i18n-static="vps_configuration_add_ipv4_title_button"></span>
            </a>
        </div>
    </div>
</div>
