<div class="cloud-project-billing">
    <div class="cloud-project-billing-content">
        <div class="cloud-compute-tabs-ctnr">
            <responsive-tabs>
                <responsive-tab
                    data-ng-if="CloudProjectBillingCtrl.FeatureAvailabilityService.hasFeature('SERVER','billingConsumption')"
                    class="cloud-compute-tabs-item"
                    data-state="{{ :: 'iaas.pci-project.billing.consumption' }}"
                    data-dropdown-title="{{ 'cpb_tab_consumption' | translate }}">
                    <i class="ovh-font ovh-font-receipt"></i>
                    <span data-translate="cpb_tab_consumption"></span>
                </responsive-tab>
                <responsive-tab
                    data-ng-if="CloudProjectBillingCtrl.FeatureAvailabilityService.hasFeature('SERVER','billingHistory')"
                    class="cloud-compute-tabs-item"
                    data-state="{{ :: 'iaas.pci-project.billing.history.details' }}"
                    data-dropdown-title="{{ 'cpb_tab_history' | translate }}">
                    <i class="ovh-font ovh-font-clock"></i>
                    <span data-translate="cpb_tab_history"></span>
                </responsive-tab>
                <responsive-tab
                    data-ng-if="CloudProjectBillingCtrl.FeatureAvailabilityService.hasFeature('SERVER','billingVouchers')"
                    class="cloud-compute-tabs-item"
                    data-state="{{::'iaas.pci-project.billing.vouchers'}}"
                    data-dropdown-title="{{'cpb_tab_vouchers'|translate}}">
                    <i class="ovh-font ovh-font-ticket"></i>
                    <span data-translate="cpb_tab_vouchers"></span>
                </responsive-tab>
                <responsive-tab
                    data-ng-if="CloudProjectBillingCtrl.FeatureAvailabilityService.hasFeature('SERVER','billingQuota')"
                    class="cloud-compute-tabs-item"
                    data-state="{{::'iaas.pci-project.billing.quota'}}"
                    data-dropdown-title="{{'cpb_tab_quota'|translate}}">
                    <i class="ovh-font ovh-font-pieChart"></i>
                    <span data-translate="cpb_tab_quota"></span>
                </responsive-tab>
                <responsive-tab
                    data-ng-if="CloudProjectBillingCtrl.FeatureAvailabilityService.hasFeature('SERVER','billingRights')"
                    class="cloud-compute-tabs-item"
                    data-state="{{::'iaas.pci-project.billing.rights'}}"
                    data-dropdown-title="{{'cpb_tab_rights'|translate}}">
                    <i class="ovh-font ovh-font-hosting"></i>
                    <span data-translate="cpb_tab_rights"></span>
                </responsive-tab>
                <responsive-tab-more class="cloud-compute-tabs-item">
                    <i class="fa fa-plus"></i>
                    <span>...</span>
                </responsive-tab-more>
            </responsive-tabs>
        </div>

        <!-- HERE MUST COME THE TOP CONTENT -->

        <div ui-view="cloudProjectBilling" class="cloud-billing-content-ctnr"></div>

    </div>

</div>
