<div data-ng-controller="VpsReinstallCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="reinstall"
         data-wizard-hide-cancel-button="loader.loading"
         data-wizard-title="i18n.vps_configuration_reinstall_title"
         data-wizard-title-icon="'icon-reinstall-vps'"
         data-wizard-bread-crumb
         class="platforms">

        <div data-wizard-step
             data-wizard-step-on-load="loadCheck"
             data-wizard-step-on-next="display"
             data-wizard-step-valid="selectedTemplate.value && (selectedTemplate.value.availableLanguage.length <= 1 || selectedTemplate.language)">
            <span class="blue bold" data-ng-bind-html="tr('vps_configuration_reinstall_step1_question')"></span>
            <br/>
            <div>
                <div data-ng-hide="loadingTemplates || loadingSshKeys">
                    <select name="templates" class="full"
                            data-ng-options="template as template.name + ' (' + template.bitFormat + ' ' + tr('vps_configuration_reinstall_bitFormat') +')' for template in templates | orderBy: 'name'"
                            data-ng-model="selectedTemplate.value" >
                        <option value="" data-ng-disabled="true" selected data-i18n-static="vps_configuration_reinstall_step1_os"></option>
                    </select>

                    <strong data-ng-if="selectedTemplate.value" class="blue bold packages-title" data-i18n-static="vps_configuration_reinstall_step1_packages"></strong>
                    <div data-ng-show="loadingPackages">
                        <div class="loader"></div>
                    </div>
                    <div class="alert alert-info" data-ng-if="!loadingPackages && selectedTemplate.packages">
                        <span data-ng-if="!selectedTemplate.packages.length" data-i18n-static="vps_configuration_reinstall_step1_packages_empty"></span>
                        <ul data-ng-if="selectedTemplate.packages.length" class="row-fluid packages">
                            <li class="span5"
                                data-ng-class-odd="'odd'"
                                data-ng-class-even="'offset2'"
                                data-ng-repeat="package in selectedTemplate.packages | orderBy: 'alias'" data-tooltip="{{package.name}}">
                                {{package.alias}} ({{package.version}})
                            </li>
                        </ul>
                    </div>


                    <div class="blue bold" data-ng-show="selectedTemplate.value && selectedTemplate.value.availableLanguage.length > 1">
                        <span data-ng-bind-html="tr('vps_configuration_reinstall_step1_select_language')"></span>
                        <br/>
                        <select name="language" class="full"
                                data-ng-options="language as getLanguageTraduction(language) for language in selectedTemplate.value.availableLanguage | orderBy: getLanguageTraduction"
                                data-ng-model="selectedTemplate.language" >
                            <option value="" data-ng-disabled="true" selected data-i18n-static="vps_configuration_reinstall_step1_language"></option>
                        </select>
                    </div>

                    <div  data-ng-show="selectedTemplate.value && (selectedTemplate.language || selectedTemplate.value.availableLanguage.length === 0) && !isWindows(selectedTemplate.value)">
                        <label>
                            <br />
                            <span class="blue bold">
                                {{tr('vps_configuration_reinstall_step1_select_ssh_key')}}&nbsp;
                                <i class="icon-question-sign" data-tooltip-placement="right" data-tooltip="{{tr('vps_configuration_reinstall_step1_select_ssh_key_help')}}"></i>
                            </span>
                            <br/>
                            <select name="sshkey" class="full" multiple="multiple" size="8"
                                    data-ng-options="sshKey for sshKey in UserSshKeys | orderBy"
                                    data-ng-model="selectedTemplate.sshKeys"
                                    data-ng-if="UserSshKeys.length > 0">
                                <option value="" selected></option>
                            </select>
                            <span data-ng-if="!UserSshKeys || UserSshKeys.count === 0" data-i18n-static="vps_configuration_reinstall_step1_select_ssh_key_no"></span>
                            <span class="visible-desktop" data-ng-if="selectedTemplate.sshKeys && selectedTemplate.sshKeys.length > 0" data-ng-bind-html="tr('vps_configuration_reinstall_step1_unselect_ssh_key')"></span>
                        </label>
                    </div>

                    <div class="bold" data-ng-show="selectedTemplate.sshKeys && selectedTemplate.sshKeys.length > 0 && !isWindows(selectedTemplate.value)">
                        <label>
                            <input name="sendPassword" type="checkbox" data-ng-model="selectedTemplate.sendPassword" style="margin: 0 5px 0 0" />
                            <span data-ng-bind-html="tr('vps_configuration_reinstall_step1_sendPassword')"></span>
                        </label>
                    </div>

                    <div class="blue bold" data-ng-show="selectedTemplate.value && selectedTemplate.value.availableSoftwares != null && selectedTemplate.value.availableSoftwares.length > 1">
                        <br/>
                        <span data-ng-bind-html="tr('vps_configuration_reinstall_step1_select_softwares')"></span>
                        <br/>
                        <dl class="dl-horizontal">
                            <dt class="tspace" data-i18n-static="vps_configuration_reinstall_step1_software_DATABASE"></dt>
                            <dd class="tspace">
                                <select name="database" class="full"
                                        data-ng-model="selectedTemplate.database"
                                        data-ng-options="software as getSoftwareLabel(software) for software in selectedTemplate.value.availableSoftwares | filter:{type:'DATABASE'}"
                                        >
                                    <option></option>
                                </select>
                            </dd>

                            <dt class="tspace" data-i18n-static="vps_configuration_reinstall_step1_software_WEBSERVER"></dt>
                            <dd class="tspace">
                                <select name="webserver" class="full"
                                        data-ng-model="selectedTemplate.webserver"
                                        data-ng-options="software as getSoftwareLabel(software) for software in selectedTemplate.value.availableSoftwares | filter:{type:'WEBSERVER'}"
                                        >
                                    <option></option>
                                </select>
                            </dd>

                            <dt class="tspace" data-i18n-static="vps_configuration_reinstall_step1_software_ENVIRONMENT"></dt>
                            <dd class="tspace">
                                <select name="environment" class="full"
                                        data-ng-model="selectedTemplate.environment"
                                        data-ng-options="software as getSoftwareLabel(software) for software in selectedTemplate.value.availableSoftwares | filter:{type:'ENVIRONMENT'}"
                                        >
                                    <option></option>
                                </select>
                            </dd>
                        </dl>
                        <!--<select name="language" class="full"-->
                        <!--multiple="multiple" size="8"-->
                        <!--data-ng-options="software as getSoftwareLabel(software) group by tr('vps_configuration_reinstall_step1_software_' + software.type) for software in selectedTemplate.value.availableSoftwares"-->
                        <!--data-ng-model="selectedTemplate.softwares" >-->
                        <!--</select>-->
                    </div>
                </div>
                <div class="row-fluid" data-ng-show="loadingTemplates || loadingSshKeys">
                    <div class="span12 loader"></div>
                </div>

                <p data-ng-if="!summary.windowsActivated && getOptions('WINDOWS')">
                    <em data-i18n-static="vps_configuration_reinstall_windows_option"></em>
                </p>

            </div>
        </div>

        <div data-wizard-step
             data-wizard-step-valid="!loader.loading">
            <div class="row-fluid" data-ng-show="loader.loading">
                <div class="span12 loader"></div>
            </div>
            <div data-ng-hide="loader.loading">
                <span class="blue bold" data-ng-bind-html="tr('vps_configuration_reinstall_step2_question', [vps.name])"></span>
                <br/><br/>
                <table class="full">
                    <tr>
                        <td class="half bold" data-ng-bind-html="tr('vps_configuration_reinstall_step2_os')"></td>
                        <td class="half" data-ng-bind="selectedTemplate.value.name"></td>
                    </tr>
                    <tr>
                        <td class="bold" data-ng-bind="tr('vps_configuration_reinstall_step2_language')"></td>
                        <td data-ng-bind="tr('language_' + getSelectedLanguage())"></td>
                    </tr>
                    <tr data-ng-show="selectedTemplate.database || selectedTemplate.webserver || selectedTemplate.environment">
                        <td class="bold" data-i18n-static="vps_configuration_reinstall_step2_softwares"></td>
                        <td>
                            <span data-ng-bind="getSoftwareSummaryList()"></span>
                        </td>
                    </tr>
                    <tr data-ng-show="selectedTemplate.sshKeys.length > 0">
                        <td class="bold top-align" data-i18n-static="vps_configuration_reinstall_step2_sshKeys"></td>
                        <td>
                            <ul class="unstyled no-margin">
                                <li ng-repeat="sshKey in selectedTemplate.sshKeys">{{ sshKey }}</li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <br/>
                <span data-i18n-static="vps_configuration_reinstall_step2_alert2" class="red"></span>
            </div>
        </div>
    </div>
</div>
